body {
  margin: 0;
}

.verse {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(100, 1rem);
  grid-template-rows: repeat(100, 1rem);
}

.verse-1 span:nth-child(1) {
  writing-mode: horizontal-tb;
  grid-column: 1 / 12;
}

.verse-1 span:nth-child(2) {
  writing-mode: vertical-lr;
  grid-column: 15 / span 1;
  transform: rotate(-30deg);
  grid-row: 1 / span 13;
}

.verse-1 span:nth-child(3) {
  writing-mode: horizontal-tb;
  grid-column: 19 / span 23;
  grid-row: 11 / span 1;
}

.verse-1 span:nth-child(4) {
  writing-mode: sideways-lr;
  grid-column: 4 / 20;
  grid-row: 4 / 20;
}

.verse-1 span:nth-child(5) {
  writing-mode: sideways-rl;
}