.verse-2 span:nth-child(1) {
	text-decoration: underline blue;
	font-size: 1.75rem;
	grid-column: 1 / span 9;
}

.verse-2 span:nth-child(2) {
	grid-column: 11 / span 8;
	font-size: 1.5rem;
}

.verse-2 span:nth-child(3) {
  
}

.verse-2 span:nth-child(4) {
  
}

.verse-2 span:nth-child(5) {
  
}

.verse-2 span:nth-child(6) {

}

.verse-2 span:nth-child(7) {
  
}

.verse-2 span:nth-child(8) {
  
}

.verse-2 span:nth-child(9) {
  
}

.verse-2 span:nth-child(10) {
  
}

.verse-2 span:nth-child(11) {

}

.verse-2 span:nth-child(12) {
  
}

.verse-2 span:nth-child(13) {
  
}

.verse-2 span:nth-child(14) {
  
}

.verse-2 span:nth-child(15) {

}

.verse-2 span:nth-child(16) {

}

.verse-2 span:nth-child(17) {

}

.verse-2 span:nth-child(18) {

}

.verse-2 span:nth-child(19) {
	
}

.verse-2 span:nth-child(20) {
	
}

.verse-2 span:nth-child(21) {
	
}

.verse-2 span:nth-child(22) {

}

.verse-2 span:nth-child(23) {

}

.verse-2 span:nth-child(24) {

}

.verse-2 span:nth-child(25) {

}

.verse-2 span:nth-child(26) {

}

.verse-2 span:nth-child(27) {

}

.verse-2 span:nth-child(28) {

}

.verse-2 span:nth-child(29) {

}

.verse-2 span:nth-child(30) {

}

.verse-2 span:nth-child(31) {

}

.verse-2 span:nth-child(32) {
	
}

.verse-2 span:nth-child(33) {

}

.verse-2 span:nth-child(34) {
	
}

.verse-2 span:nth-child(35) {
	
}

.verse-2 span:nth-child(36) {

}

.verse-2 span:nth-child(37) {

}
.verse-2 span:nth-child(38) {

}

.verse-2 span:nth-child(39) {

}

.verse-2 span:nth-child(40) {

}

.verse-2 span:nth-child(41) {

}

.verse-2 span:nth-child(42) {

}

.verse-2 span:nth-child(43) {

}

.verse-2 span:nth-child(44) {
	
}

.verse-2 span:nth-child(45) {

}

.verse-2 span:nth-child(46) {

}

.verse-2 span:nth-child(47) {

}

.verse-2 span:nth-child(48) {

}

.verse-2 span:nth-child(49) {

}

.verse-2 span:nth-child(50) {

}

.verse-2 span:nth-child(51) {
	
}

.verse-2 span:nth-child(52) {

}

.verse-2 span:nth-child(53) {

}

.verse-2 span:nth-child(54) {

}

.verse-2 span:nth-child(55) {

}

.verse-2 span:nth-child(56) {

}